<ion-content [fullscreen]="true">

<ion-toolbar id="toolbar" color="black">
  <div class="ion-text-center">
    <img src="./assets/conteudos/component4.png" width="100" class="slide-image" />
  </div> 
 
</ion-toolbar>

  <div id="posicao">

  <p class="dado">DADOS PESSOAIS</p>  

  <ion-input class="campo" placeholder="NOME"></ion-input>

  <ion-input class="campo" placeholder="EMAIL"></ion-input>

  <ion-input class="campo" placeholder="TELEFONE"></ion-input>

  <ion-input class="campo" placeholder="SENHA"></ion-input>


    <ion-button class="button">
      <ion-title class="letra">CADASTRAR</ion-title>
    </ion-button>
    

  
</div>
</ion-content> 

 