<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre a usina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  
  <section class="img-bg">

    <div class="ion-padding">
      <p>Lorem ipsum dolor sit amet, cone magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sad</p>
    </div>

  </section>

</ion-content>
