<ion-content [fullscreen]="true">
  <section class="img-bg">
    <img class="img2" src="./assets/img/logo.png" />
  
    <ion-toolbar class="toolbar2 ion-padding-horizontal" color="black">
            
      <ion-button expand="block" size="large" class="ion-margin-bottom" shape="round" (click)="openLogin()">
        CADASTRAR
      </ion-button>
      
      <ion-button expand="block" size="large" shape="round" (click)="openLogin()">
        ENTRAR
      </ion-button>      
    
      <div class="ion-text-center">
      
        <p id="texto" routerLink="/home">continuar como convidado</p>

      </div>
    </ion-toolbar>
  </section>
</ion-content> 

 