

<ion-content [fullscreen]="true">
  <div id="img1">
    
    <img class="img44"  src="./assets/conteudos/component4.png"  />
  
  <img  src="./assets/conteudos/component.png" class="slide-image" />
  </div>
  <ion-slides>

    <ion-slide>
      
      
        <div id="quadrado">
        <img id="img2" src="./assets/conteudos/component6.png"/>
        </div>
       
        <p id="palavra"> asldkhasdhasdhasdasja asdasd asd asdas da das d a das das das d asdas sad asdas </p>
     
      <div id="bola1"></div>
    </ion-slide>

    <ion-slide>
      
      
      <div id="quadrado">
      <img id="img2" src="./assets/conteudos/component6.png"/>
      </div>
     
      <p id="palavra"> asldkhasdhasdhasdasja asdasd asd asdas da das d a das das das d asdas sad asdas </p>
    
    <div id="bola1"></div>
  </ion-slide>

  <ion-slide>
      
      
    <div id="quadrado">
    <img id="img2" src="./assets/conteudos/component6.png"/>
    </div>
   
    <p id="palavra"> asldkhasdhasdhasdasja asdasd asd asdas da das d a das das das d asdas sad asdas </p>
 
  <div id="bola1"></div>
</ion-slide>


  </ion-slides>

  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-buttons routerLink="/start" class="button1">
            <img src="./assets/conteudos/component7.png" class="slide-image" />
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-buttons class="button2">
            <img src="./assets/conteudos/component8.png" class="slide-image" />
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-footer>
</ion-content> 